.back-to-top {
  position: fixed;
  background-color: rgba(166, 166, 176, 0.12);
  width: 5vh;
  height: 5vh;
  max-height: 5vw;
  max-width: 5vw;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 30px;
  color: #B5E853;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}
 
.back-to-top:hover {
  background: #333;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  table.comparison thead {
    display: none;
  }
  table.comparison tr {
    display: block;
    margin-bottom: 1rem;
    border-bottom: 2px solid #1B1B1B;
  }
  table.comparison td {
    display: block;
    text-align: right;
  }
  table.comparison td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  }
}
